<section class="footer container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="site-links">
              <div class="text-wrap">
                <h6>Available Fixtures</h6>

                <ul>
                  <li><a href="#" class="available-fixtures-pagelink" data-filter="residential-fixtures" title="Entergy Residential Fixtures">Residential</a></li>
                  <li><a href="#" class="available-fixtures-pagelink" data-filter="commercial-fixtures" title="Entergy Commercial Fixtures">Commercial</a></li>
                </ul>
              </div>

              <div class="text-wrap">
                <h6>Entergy</h6>

                <ul>
                  <li><a href="http://www.entergy.com/" target="_blank" title="Entergy | We Power Life">Company Site</a></li>
                  <li><a href="http://entergy.com/about_entergy/" target="_blank" title="About Entergy">About</a></li>
                  <li><a href="https://myaccount.entergy.com/eplus/eplus.portal" target="_blank" title="Entergy Online Customer Service Center">My Account</a></li>
                  <li><a href="http://stormcenter.entergy.com/" target="_blank" title="Entergy Storm Center">Storm Center</a></li>
                </ul>
              </div>

              <div class="text-wrap last">
                <h6>Need help?</h6>

                <ul>
                  <li><a href="http://www.entergy.com/Contact_Us/" target="_blank" title="Contact Us">Contact Us</a></li>
                  <li><a href="http://entergy.com/storm_center/outages.aspx" target="_blank" title="Power Outage Map">Outages</a></li>
                  <li><a href="tel:1-866-603-0192">1-866-603-0192</a></li>
                </ul>
              </div>
            </div>

            <div class="social">
              <ul class="social-links">
                <li><a href="https://www.facebook.com/entergy/" target="_blank" class="social-link social-link-facebook" title="Entergy on Facebook"></a></li>
                <li><a href="https://twitter.com/Entergy" target="_blank" class="social-link social-link-twitter" title="Entergy on Twitter"></a></li>
                <li><a href="https://www.linkedin.com/company/entergy" target="_blank" class="social-link social-link-linkedin" title="Entergy on LInkedIn"></a></li>
                <li><a href="http://www.entergynewsroom.com/rss/" target="_blank" class="social-link social-link-rss" title="Entergy News"></a></li>
               <!-- <li><a href="https://plus.google.com/111631769444254162638/posts" target="_blank" class="social-link social-link-gplus"></a></li>-->
                <li><a href="https://www.youtube.com/user/entergy" target="_blank" class="social-link social-link-youtube" title="Entergy on YouTube"></a></li>
                <li><a href="https://vimeo.com/entergy" target="_blank" class="social-link social-link-vimeo" title="Entergy on Vimeo"></a></li>
                <li><a href="https://www.flickr.com/photos/entergy/" target="_blank" class="social-link social-link-flickr" title="Entergy on Flickr"></a></li>
              </ul>
            </div>

            <p class="copyright-notice">
              &copy; @DateTime.Now.Year Entergy Corporation, All Rights Reserved. The Entergy name and logo are registered service marks of Entergy Corporation and may not be used without the express, written consent of Entergy Corporation.<br />
              <span>|</span>
              <a href="http://www.entergy.com/privacy_legal/privacy.aspx" target="_blank" title="Entergy Privacy Policy">Privacy Policy</a>
              |
              <a href="http://www.entergy.com/privacy_legal/legal.aspx" target="_blank" title="Entergy Terms and Conditions">Terms and Conditions</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>