/*
//https://hotsauce.sifterapp.com/issues/8999
// the svgs with zigzag additional styles
@media only screen and (min-width: 768px) {
	.full-bleed-background.zigzag-up-down {
		background-size: 100% auto;
		height: 40px;	
	}	
}
*/

/*

@media only screen and (min-width: 768px) {
	.navbar-right ul {
		top: -695px;
	}	
}
*/
